.home_container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
}
.left_div, .right_div{
    width: 23%;
    min-height: 90vh;
    background-color: coral;
}

.more_posts{
    text-align: center;
    font-size: large;
    margin: 15px;
    cursor: pointer;
    color: darkgreen;
}