:root {
    --primary-color: #007AF3;
}

.header_container {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logout:hover {
    font-weight: bold;
}

.name:hover {
    font-weight: bold;
}

.logout_holder {
    width: 40px;
    cursor: pointer;
    text-decoration: none;
}

.petsiRound_ {
    font-weight: bold;
    color: black;
    font-size: 3em;
    margin-right: 20px;
    margin-bottom: .1em;
}

.si_ {
    font-size: .7em;
    color: var(--primary-color)
}
@media only screen and (max-width: 800px) {
   
}

@media only screen and ( max-width: 414px) {
    .si_ {
        font-size: .6em;
        color: var(--primary-color);
       
    }
    .petsiRound_ {
        margin-right:30px
    }
    
    .name{
        display :none;
    }
    .logout_holder {
        margin-right: 5%;
    }
    
}

@media only screen and ( width: 320px) {

}

@media only screen and ( max-width: 770px) {
   
}

@media only screen and ( width: 1024px) and (height :1366px) {
   
}

@media only screen and ( max-width: 930px) {
    
}