@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap');
:root {
   --primary-color: #007AF3;
}
.Maincont{
    background-color: #f8cfcf;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.cont{
    float: right;
    margin-top: 5em;
    margin-right: 5%;
    margin-left: 0;
    text-align: center;
}
.emailInput{
    display: block;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    border-width: .5px;
    border-radius: 1em;
    height: 3em;
    width: 20em; 
    padding: 5px; 
    outline: none;
}
.passInput{
    display: block;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    border-width: .5px;
    border-radius: 1em;
    height: 3em;
    width: 20em;   
    padding: 5px; 
    outline: none;   
}
.lableandemail{
    margin-top: 3em;
}
.lableandpass{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.signButton{
    margin-bottom: 1em;
    color: white;
    font-size: 1.4em;
    width: 5.5em;
    height: 2.5em;
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color);
    border-radius: 5em;
}
.regButton{
    margin-bottom: 1em;
    color: white;
    font-size: 1.4em;
    width: 5.5em;
    height: 2.5em;
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color);
    border-radius: 5em;
}
.passLable{
    font-size: 1.2em;
    font-weight: 480;
}
.emailLable{
    font-size: 1.2em;
    font-weight: 480;
}
.petsiRound{
    font-weight: bold;
    color: black;
    font-size: 3.5em;
}

.si{
    font-size: .7em;
    color:var(--primary-color)
}
.imageBox{   
    float: left;
    display: grid;  
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    
}
.image{
    width: 100%; 
    border-radius: 0px 50px 50px 0px;
}
.ourLable{
    margin-bottom: 1.5em;
    margin-right: 2em;
    margin-top: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: .3em;
    
}
   
iframe {
    width: 100%;
    height: 300px;
}
@media only screen and (max-width: 800px) {
    .imageBox {
        display: none;
    }
}