@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap');
:root {
   --primary-color: #007AF3;
}
.RegButton{
    margin-bottom: 1em;
    color: white;
    font-size: 1.4em;
    width: 5.5em;
    height: 2.5em;
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color);
    border-radius: 5em;
}