@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap');
:root {
    --primary-color: #007AF3;
    --secondary-color: #f2f2f2;
}

.profile_container {
    width: 100%;
    display: flex;
    min-height: 90vh;
    background-color: var(--secondary-color);
    justify-content: space-between;
}

.left_div {
    border-radius: 10px;
    margin-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 20%;
    background-color: var(--primary-color);
}

.user_content {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_content>p {
    font-size: 15px;
    margin-top: 5px;
    color: black
}

.user_content12 {
    width: 80%;
    height: 300px;
    margin-top: 3em;
    background-color: #006bd6;
    border-radius: 1.5em;
}

.Avatar {
    margin-top: -1.5em;
    margin-left: 26%;
    margin-right: 50%;
    border: 5px solid #006bd6;
    border-radius: 50%;
}

.user_content .UserName {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2em;
}

.doctor_icon {
    width: 20px;
    height: 20px;
}

.middle_div {
    width: 50%;
    margin-left: 10%;
}

.right_div {
    border-radius: 10px;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 20%;
    background-color: var(--primary-color);
}

.adoptions_modal_conatiner {
    width: 70%;
    min-height: 100%;
    background-color: var(--secondary-color);
    margin: auto;
    border: 0;
    outline: none;
}

.adoptions_body {
    width: 80%;
    margin: auto;
    height: auto;
}

.adoption_content_container {
    width: 100%;
    display: flex;
    align-items: center;
}
.upcomingPosts {
    margin-top: 4em;
    margin-left: 25%;
    font-weight: bold;
}
iframe {
    width: 100%;
    height: 300px;
}

@media only screen and ( max-width: 414px) {
    .profile_container {
        display: block;
    }
    .left_div {
        width: 100%;
        min-height: 40vh;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .user_content12 {
        width: 50%;
        height: 200px;
        margin-bottom: 20px;
    }
    .Avatar {
        margin-left: 21%;
        margin-right: 50%;
    }
    .user_content .UserName {
        font-size: 1.5em;
    }
    .right_div {
        width: 100%;
        min-height: 30vh;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .middle_div {
        width: 100%;
        min-height: 60vh;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .upcomingPosts {
        margin-left: 25%;
        font-weight: bold;
    }
}

@media only screen and ( max-width: 780px) and (min-width: 415px) {
    .left_div {
        width: 30%;
    }
    .right_div {
        width: 30%;
    }
    .Avatar {
        margin-left: 18%;
        margin-right: 50%;
    }
    .user_content .UserName {
        font-size: 1.5em;
    }
    .user_content {
        margin-top: 15em;
    }
    .middle_div {
        margin-top: 15em;
    }
    .upcomingPosts {
        margin-left: 22%;
        font-weight: bold;
    }
}

@media only screen and ( max-width: 1030px) and (min-width:780px) {
    .left_div {
        width: 30%;
    }
    .right_div {
        width: 30%;
    }
    .Avatar {
        margin-left: 20%;
        margin-right: 50%;
    }
    .user_content .UserName {
        font-size: 1.5em;
    }
    .user_content {
        margin-top: 15em;
    }
    .middle_div {
        margin-top: 15em;
    }
    .upcomingPosts {
        margin-left: 22%;
        font-weight: bold;
    }
}

@media only screen and ( min-width: 785px) and (max-width:1000px) {
    .left_div {
        width: 30%;
    }
    .right_div {
        width: 30%;
    }
    .Avatar {
        margin-left: 20%;
        margin-right: 50%;
    }
    .user_content .UserName {
        font-size: 1.5em;
    }
    .user_content {
        margin-top: 5em;
    }
    .middle_div {
        margin-top: 5em;
    }
    .upcomingPosts {
        margin-left: 22%;
        font-weight: bold;
    }
    .user_content .UserEmail {
        font-size: 10px;
    }
    .upcomingPosts {
        margin-left: 30%;
        font-weight: bold;
    }
}

@media only screen and ( min-width: 415px) and (max-width:780px) {
    .profile_container {
        display: block;
    }
    .left_div {
        width: 100%;
        min-height: 25vh;
        margin-right: 0;
        margin-left: 0;
        margin-top: -15em;
        border-radius: 0;
    }
    .user_content12 {
        width: 50%;
        height: 200px;
        margin-bottom: 20px;
    }
    .Avatar {
        margin-left: 30%;
        margin-right: 50%;
    }
    .user_content .UserName {
        font-size: 1.5em;
    }
    .right_div {
        width: 100%;
        min-height: 25vh;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .middle_div {
        width: 100%;
        min-height: 40vh;
        margin-top: -.1em;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .upcomingPosts {
        margin-left: 30%;
        font-weight: bold;
    }
}

@media only screen and (max-width: 360px) and (min-width:260px) {
    .user_content .UserEmail {
        font-size: 10px;
    }
    .Avatar {
        margin-left: 10%;
        margin-right: 50%;
    }
    .upcomingPosts {
        margin-left: 30%;
        font-weight: bold;
    }
}