.profile_container {
    width: 100%;
    display: flex;
    min-height: 90vh;
    background-color: aqua;
    justify-content: space-between;
}
.left_div{

    width: 20%;
    background-color: blueviolet;
}
.user_content{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.user_content > p {
    font-size: 20px;
    margin: 15px;
}
.doctor_icon{
    width: 20px;
    height: 20px;
}
.middle_div {

    width: 50%;
}
.right_div{

    width: 20%;
    background-color: blueviolet;

}

.adoptions_modal_conatiner {
    width: 70%;
    min-height: 100%;
    background-color: red;
    margin: auto;
    border: 0;
    outline: none;
}

.adoptions_body {
    width: 80%;
    margin: auto;
    height: auto;
}

.adoption_content_container {
    width: 100%;
    display: flex;
    align-items: center;
}