
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap');
:root {
   --primary-color: #007AF3;
}
div.content{
    float: right;
    width: 25em;
    margin-top: 5em;
    margin-right: 2em;
    text-align: center;
  
}
.petsiRound{
    font-weight: bold;
    color: black;
    font-size: 3.5em;
}

.si{
    font-size: .7em;
    color:var(--primary-color)
}
.image{
    float: left;
    width: 60%;
    height: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 50%;
}